body {
  text-align: center;
  font-family: Arial;
  background-color: #6c464f;
}

h1{
    color: #ffffc7d5;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 40px;
  cursor: pointer;
  color: #1d1e2c;
  border: 2px solid #49111c;
}

#reset {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #49111c;
  color: #d4b483;
}
